* {
    padding: 0px;
    margin: 0px;
  }
  
  /* body {
  background-image: url("https://media2.giphy.com/media/ei0PJv5enfT87EOAaM/giphy.webp?cid=ecf05e476vvnji5cdnispqeb6ijdht0sthytm13i7oj1izw6&ep=v1_gifs_search&rid=giphy.webp&ct=g");
      background-size: cover;
      height: 100%;
      padding:0;
      margin:0;
  }
   */